/* DEMO 1 */
  .loader1 {
    margin: 0 auto;
    height: 20px;
    width: 20px;
    position:relative;
    -webkit-animation:spin 1.5s linear infinite;
    -moz-animation:spin 1.5s linear infinite;
  }
  .loader1 i{
    height: 20px;
    width: 20px;
    border-radius: 25px;
    display: block;
    position:absolute;
  }
  .loader1 i:before, .loader1 i:after{
	  content:'';
	  display:block;
	  position:absolute;
	  height:inherit;
	  width:inherit;
	  border-radius: inherit;
  }
  .loader1 i:first-child:before {
    background:rgba(52, 149, 221, 0.9);
    -webkit-animation:rotate-top-left 1.5s linear infinite;
    -moz-animation:rotate-top-left 1.5s linear infinite;
  }
  .loader1 i:first-child:after {
    background:rgba(225, 73, 44, 0.9);
    -webkit-animation:rotate-top-right 1.5s linear infinite;
    -moz-animation:rotate-top-right 1.5s linear infinite;
  }
  .loader1 i:last-child:before {
    background:rgba(249, 206, 43, 0.9);
    -webkit-animation:rotate-bottom-left 1.5s linear infinite;
    -moz-animation:rotate-bottom-left 1.5s linear infinite;
  }
  .loader1 i:last-child:after {
    background:rgba(0, 153, 117, 0.9);
    -webkit-animation:rotate-bottom-right 1.5s linear infinite;
    -moz-animation:rotate-bottom-right 1.5s linear infinite;
  }
  @-webkit-keyframes spin{
    0%{
      -webkit-transform:rotate(0deg);
    }
    50%{
      -webkit-transform:rotate(-180deg);
    }
    100%{
      -webkit-transform:rotate(-360deg);
    }
  }
  @-webkit-keyframes rotate-top-right{
    0%{
      -webkit-transform:rotate(0deg);
    }
    50%{
      -webkit-transform:rotate(-180deg);
      -webkit-transform-origin: 20% 20%;
    }
    100%{
      -webkit-transform:rotate(-360deg);
    }
  }
  @-webkit-keyframes rotate-top-left{
    0%{
      -webkit-transform:rotate(0deg);
    }
    50%{
      -webkit-transform:rotate(180deg);
      -webkit-transform-origin: 80% 20%;
    }
    100%{
      -webkit-transform:rotate(360deg);
    }
  }
  @-webkit-keyframes rotate-bottom-right{
    0%{
      -webkit-transform:rotate(0deg);
    }
    50%{
      -webkit-transform:rotate(-180deg);
      -webkit-transform-origin: 80% 80%;
    }
    100%{
      -webkit-transform:rotate(-360deg);
    }
  }
  @-webkit-keyframes rotate-bottom-left{
    0%{
      -webkit-transform:rotate(0deg);
    }
    50%{
      -webkit-transform:rotate(180deg);
      -webkit-transform-origin: 20% 80%;
    }
    100%{
      -webkit-transform:rotate(360deg);
    }
  }
  
  @-moz-keyframes spin{
    0%{
      -moz-transform:rotate(0deg);
    }
    50%{
      -moz-transform:rotate(-180deg);
    }
    100%{
      -moz-transform:rotate(-360deg);
    }
  }
  @-moz-keyframes rotate-top-right{
    0%{
      -moz-transform:rotate(0deg);
    }
    50%{
      -moz-transform:rotate(-180deg);
      -moz-transform-origin: 20% 20%;
    }
    100%{
      -moz-transform:rotate(-360deg);
    }
  }
  @-moz-keyframes rotate-top-left{
    0%{
      -moz-transform:rotate(0deg);
    }
    50%{
      -moz-transform:rotate(180deg);
      -moz-transform-origin: 80% 20%;
    }
    100%{
      -moz-transform:rotate(360deg);
    }
  }
  @-moz-keyframes rotate-bottom-right{
    0%{
      -moz-transform:rotate(0deg);
    }
    50%{
      -moz-transform:rotate(-180deg);
      -moz-transform-origin: 80% 80%;
    }
    100%{
      -moz-transform:rotate(-360deg);
    }
  }
  @-moz-keyframes rotate-bottom-left{
    0%{
      -moz-transform:rotate(0deg);
    }
    50%{
      -moz-transform:rotate(180deg);
      -moz-transform-origin: 20% 80%;
    }
    100%{
      -moz-transform:rotate(360deg);
    }
  }

/* DEMO 2 */

.loader2 {
    margin: 0 auto;
    position:relative;
    width: 100px;
    height: 100px;
  }
  .loader2 i { 
    border-style:solid;
    display:inline-block;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    border-width:50px;
    border-color:rgba(255,255,255,1);
    border-radius: 50px;
    -moz-animation:blink 1.5s infinite ease-in-out;
    -webkit-animation:blink 1.5s infinite ease-in-out;
    height: 100px;
    width: 100px;
  }
  @-webkit-keyframes blink{
    50%{
      border-width:0;
      border-color:rgba(255,255,255,0.5);
    }
    100%{
      border-width:0;
      border-color:rgba(255,255,255,0.5);
    }
  }
  @-moz-keyframes blink{
    50%{
      border-width:0;
      border-color:rgba(255,255,255,0.5);
    }
    100%{
      border-width:0;
      border-color:rgba(255,255,255,0.5);
    }
  }

/* DEMO 3 */
.loader3 {
    margin: 0 auto;
    position:relative;
    width: 50px;
    height: 50px;
    -webkit-animation:spin 4s infinite ease;
    -moz-animation:spin 4s infinite ease;
  }
  .loader3 i { 
    border-style:solid;
    display:inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:2px dashed rgba(0,0,0,0.7);
    border-radius: 50px;
    -webkit-animation:scale 4s infinite linear;
    -moz-animation:scale 4s infinite linear;
    height: 50px;
    width: 50px;
  }
  @-webkit-keyframes spin{
    0%{
      -webkit-transform:rotate(0deg);
    }
    25%{
      -webkit-transform:rotate(90deg);
    }
    50%{
      -webkit-transform:rotate(-90deg);
    }
    75%{
      -webkit-transform:rotate(180deg);
    }
    100%{
      -webkit-transform:rotate(-180deg);
    }
  }
  @-webkit-keyframes scale{
    0%{
      -webkit-transform:scale(1);
    }
    25%{
      -webkit-transform:scale(0.5);
    }
    50%{
      -webkit-transform:scale(1);
    }
    75%{
      -webkit-transform:scale(0.5);
    }
    100%{
      -webkit-transform:scale(1);
    }
  }
  @-moz-keyframes spin{
    0%{
      -moz-transform:rotate(0deg);
    }
    25%{
      -moz-transform:rotate(90deg);
    }
    50%{
      -moz-transform:rotate(-90deg);
    }
    75%{
      -moz-transform:rotate(180deg);
    }
    100%{
      -moz-transform:rotate(-180deg);
    }
  }
  @-moz-keyframes scale{
    0%{
      -moz-transform:scale(1);
    }
    25%{
      -moz-transform:scale(0.5);
    }
    50%{
      -moz-transform:scale(1);
    }
    75%{
      -moz-transform:scale(0.5);
    }
    100%{
      -moz-transform:scale(1);
    }
  }

/* DEMO 4 */
.loader4 {
    margin: 0 auto;
    position:relative;
    text-align: center;
    border-bottom: 70px solid rgba(255,255,255,0.5);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 20px
  }
  .loader4:before{
    content:'';
    top: -15px;
    left: -28px;
    display:block;
    position:absolute;
    height:70px;
    width:70px;
    border-radius: 50px;
    border: 5px dashed rgba(255,255,255,0.5);
    -webkit-animation:wind .25s linear infinite;
    -moz-animation:wind .25s linear infinite;
  }
  .loader4 i{
    height: 40px;
    width: 5px;
    margin-left: -1.5px;
    display: inline-block;
    position:absolute;
    -webkit-animation:spin 1.5s linear infinite;
    -moz-animation:spin 1.5s linear infinite;
  }
  .loader4 i:before, .loader4 i:after{
      content:'';
      display:block;
      position:absolute;
      height:inherit;
      width:inherit;
      border-radius: inherit;
      background: white;
  }
  .loader4 i:first-child:before {
    top: -53%;
    -webkit-transform:rotate(-45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform:rotate(-45deg);
    -moz-transform-origin: 100% 100%;
  }
  .loader4 i:first-child:after {
    top: -53%;
    -webkit-transform-origin: 0 100%;
    -webkit-transform:rotate(45deg);
    -moz-transform-origin: 0 100%;
    -moz-transform:rotate(45deg);
  }
  .loader4 i:last-child:before {
    top: 45%;
    -webkit-transform-origin: 100% 0;
    -webkit-transform:rotate(-45deg);
    -moz-transform-origin: 100% 0;
    -moz-transform:rotate(-45deg);
  }
  .loader4 i:last-child:after {
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(45deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(45deg);
    top: 45%;
  }
  @-webkit-keyframes spin{
    0%{
      -webkit-transform:rotate(0deg);
    }
    50%{
      -webkit-transform:rotate(-180deg);
    }
    100%{
      -webkit-transform:rotate(-360deg);
    }
  }
  @-webkit-keyframes wind{
    100%{
      -webkit-transform:scale(2);
      border-width: 0;
    }
  }
  @-moz-keyframes spin{
    0%{
      -moz-transform:rotate(0deg);
    }
    50%{
      -moz-transform:rotate(-180deg);
    }
    100%{
      -moz-transform:rotate(-360deg);
    }
  }
  @-moz-keyframes wind{
    100%{
      -moz-transform:scale(2);
      border-width: 0;
    }
  }

/* DEMO 5 */
.solar {
    margin: 250px auto 350px;
    height: 50px;
    width: 50px;
    background: orange;
    border-radius: 25px;
    position:relative;
    -webkit-animation:glow 1.5s linear infinite;
    -moz-animation:glow 1.5s linear infinite;
  }
  .solar i{
    border-radius: 250px;
    display:block;
    position:absolute;
    border: 1px solid rgba(255,255,255, 0.15);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
  }
  .solar i:before {
    content:'';
    border-radius: 25px;
    background: black;
    display: block;
    position:absolute;
    top: -5px;
    right: 45%;
  }
  .solar i.mercury {
    width: 80px;
    height: 80px;
    margin-left: -40px;
    left: 50%;
    top: 50%;
    margin-top: -40px;
    -webkit-animation:orbit .5s linear infinite;
    -moz-animation:orbit .5s linear infinite;
  }
  .solar i.mercury:before {
    background: #6F5F5F;
    height: 7px;
    width: 7px;
  }
  .solar i.venus {
    width: 110px;
    height: 110px;
    margin-left: -55px;
    left: 50%;
    top: 50%;
    margin-top: -55px;
    -webkit-animation:orbit 1s linear infinite;
    -moz-animation:orbit 1s linear infinite;
  }
  .solar i.venus:before {
    background: #E7A71F;
    height: 10px;
    width: 10px;
  }
  .solar i.earth {
    width: 140px;
    height: 140px;
    margin-left: -70px;
    left: 50%;
    top: 50%;
    margin-top: -70px;
    -webkit-animation:orbit 1.5s linear infinite;
    -moz-animation:orbit 1.5s linear infinite;
  }
  .solar i.earth:before {
    background: #63BEE2;
    height: 10px;
    width: 10px;
  }
  .solar i.mars {
    width: 170px;
    height: 170px;
    margin-left: -85px;
    left: 50%;
    top: 50%;
    margin-top: -85px;
    -webkit-animation:orbit 2s linear infinite;
    -moz-animation:orbit 2s linear infinite;
  }
  .solar i.mars:before {
    background: red;
    height: 10px;
    width: 10px;
  }
  .solar i.belt {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-width: 25px;
    width: 240px;
    height: 240px;
    margin-left: -120px;
    border-color: rgba(36, 35, 35, 0.21);
    left: 50%;
    top: 50%;
    margin-top: -120px;
  }
  .solar i.jupiter {
    width: 260px;
    height: 260px;
    margin-left: -130px;
    left: 50%;
    top: 50%;
    margin-top: -130px;
    -webkit-animation:orbit 2.5s linear infinite;
    -moz-animation:orbit 2.5s linear infinite;
  }
  .solar i.jupiter:before {
    background: #CF9B2B;
    top: -15px;
    height: 30px;
    width: 30px;
  }
  .solar i.saturn {
    width: 320px;
    height: 320px;
    margin-left: -160px;
    left: 50%;
    top: 50%;
    margin-top: -160px;
    -webkit-animation:orbit 3s linear infinite;
    -moz-animation:orbit 3s linear infinite;
  }
  .solar i.saturn:before {
    background: #CF7A2B;
    top: -10px;
    height: 20px;
    width: 20px;
  }
  .solar i.saturn:after {
    background: #fff;
    width: 30px;
    height: 1px;
    content: '';
    position: absolute;
    display: block;
    background: #FFF;
    width: 30px;
    height: 1px;
    content: '';
    right: 43.5%;
    -webkit-transform:rotate(20deg);
    -moz-transform:rotate(20deg);
  }
  .solar i.uranus {
    width: 360px;
    height: 360px;
    margin-left: -180px;
    left: 50%;
    top: 50%;
    margin-top: -180px;
    -webkit-animation:orbit 3.5s linear infinite;
    -moz-animation:orbit 3.5s linear infinite;
  }
  .solar i.uranus:before {
    background: #10C593;
    top: -8px;
    height: 15px;
    width: 15px;
  }
  .solar i.neptune {
    width: 400px;
    height: 400px;
    margin-left: -200px;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    -webkit-animation:orbit 4s linear infinite;
    -moz-animation:orbit 4s linear infinite;
  }
  .solar i.neptune:before {
    background: #1470E4;
    top: -8px;
    height: 15px;
    width: 15px;
  }
  @-webkit-keyframes orbit{
    0%{
      -webkit-transform:rotate(0deg);
    }
    50%{
      -webkit-transform:rotate(-180deg);
    }
    100%{
      -webkit-transform:rotate(-360deg);
    }
  }
  @-webkit-keyframes glow{
    0%{
      box-shadow: none;
    }
    50%{
      background: #FFEB00;
      box-shadow: 0 0 20px orange;
    }
    100%{
      box-shadow: none;
    }
  }
  @-moz-keyframes orbit{
    0%{
      -moz-transform:rotate(0deg);
    }
    50%{
      -moz-transform:rotate(-180deg);
    }
    100%{
      -moz-transform:rotate(-360deg);
    }
  }
  @-moz-keyframes glow{
    0%{
      box-shadow: none;
    }
    50%{
      background: #FFEB00;
      box-shadow: 0 0 20px orange;
    }
    100%{
      box-shadow: none;
    }
  }



/*-------------------------
newly loading css
---------------------------
*/
.spinner {
  position: relative;
  width: 125px;
  height: 125px;
}
.spinner:before, .spinner:after {
  content: "";
  display: block;
  position: absolute;
  border-width: 4px;
  border-style: solid;
  border-radius: 50%;
}

@-webkit-keyframes rotate-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes anti-rotate-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes anti-rotate-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
.spinner.spinner-1:before {
  width: 117px;
  height: 117px;
  border-bottom-color: #212121;
  border-right-color: #212121;
  border-top-color: rgba(33, 33, 33, 0);
  border-left-color: rgba(33, 33, 33, 0);
  top: 0px;
  left: 0px;
  -webkit-animation: rotate-animation 1s linear 0s infinite;
          animation: rotate-animation 1s linear 0s infinite;
}
.spinner.spinner-1:after {
  width: 81.9px;
  height: 81.9px;
  border-bottom-color: #212121;
  border-right-color: #212121;
  border-top-color: rgba(33, 33, 33, 0);
  border-left-color: rgba(33, 33, 33, 0);
  top: 17.55px;
  left: 17.55px;
  -webkit-animation: anti-rotate-animation 0.85s linear 0s infinite;
          animation: anti-rotate-animation 0.85s linear 0s infinite;
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    border-style: solid;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    border-style: dashed;
  }
}

@-webkit-keyframes bounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }

@keyframes bounceDelay {
  0%, 80%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
    
@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    border-style: solid;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    border-style: dashed;
  }
}
.spinner.spinner-2:before {
  width: 117px;
  height: 117px;
  border-color: #212121;
  top: 0px;
  left: 0px;
  -webkit-animation: scale 1s linear 0s infinite alternate;
          animation: scale 1s linear 0s infinite alternate;
}
.spinner.spinner-2:after {
  width: 117px;
  height: 117px;
  border-color: #212121;
  top: 0;
  left: 0;
  -webkit-animation: scale 1s linear 0s infinite alternate-reverse;
          animation: scale 1s linear 0s infinite alternate-reverse;
}

@-webkit-keyframes scale-2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@keyframes scale-2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}
.spinner.spinner-3:before {
  width: 117px;
  height: 117px;
  border-color: #212121;
  top: 0px;
  left: 0px;
  -webkit-animation: scale-2 1s linear 0s infinite;
          animation: scale-2 1s linear 0s infinite;
}
.spinner.spinner-3:after {
  width: 117px;
  height: 117px;
  border-color: #212121;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-animation: scale-2 1s linear 0.5s infinite;
          animation: scale-2 1s linear 0.5s infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.spinner.spinner-4:before {
  width: 117px;
  height: 117px;
  border-color: #212121;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.spinner.spinner-4:after {
  width: 16.38px;
  height: 16.38px;
  border-width: 3px;
  border-color: #212121;
  top: 50.5px;
  left: 0;
  overflow: hidden;
  -webkit-transform-origin: 62.5px;
          transform-origin: 62.5px;
  -webkit-animation: rotate 1.2s linear 0s infinite;
          animation: rotate 1.2s linear 0s infinite;
}

@-webkit-keyframes border-animate {
  0% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  25% {
    border-top-color: #212121;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    border-top-color: #212121;
    border-right-color: #212121;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  75% {
    border-top-color: #212121;
    border-right-color: #212121;
    border-bottom-color: #212121;
    border-left-color: transparent;
  }
  100% {
    border-top-color: #212121;
    border-right-color: #212121;
    border-bottom-color: #212121;
    border-left-color: #212121;
  }
}

@keyframes border-animate {
  0% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  25% {
    border-top-color: #212121;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    border-top-color: #212121;
    border-right-color: #212121;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  75% {
    border-top-color: #212121;
    border-right-color: #212121;
    border-bottom-color: #212121;
    border-left-color: transparent;
  }
  100% {
    border-top-color: #212121;
    border-right-color: #212121;
    border-bottom-color: #212121;
    border-left-color: #212121;
  }
}
.spinner.spinner-5:before {
  width: 0;
  height: 0;
  border-color: #212121;
  top: 0px;
  left: 0px;
  border-width: 62.5px;
  border-style: solid;
  -webkit-animation: border-animate 1.6s linear 0s infinite alternate;
          animation: border-animate 1.6s linear 0s infinite alternate;
}
.spinner.spinner-5:after {
  width: 81.9px;
  height: 81.9px;
  border-color: #212121;
  top: 17.55px;
  left: 17.55px;
  background-color: #fff;
}


/*-------------------------
portlet loading 动画
---------------------------
*/

/*css3 spinners*/

$bg-color: #fff; 
$basic-dark-color: #212121; 
$border-width: 4px; 
$basic-spinner-dimensions: 125px;
$main-spinner-dimensions: $basic-spinner-dimensions - $border-width * 2; 
$small-spinner-dimensions: $main-spinner-dimensions * 0.7; 

/* YOU NEED THESE STYLES */

/* spinner style */
.spinner {
    position: relative;
    width: $basic-spinner-dimensions;
    height: $basic-spinner-dimensions;

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      border-width: 4px;
      border-style: solid;
      border-radius: 50%;
    }
  }

/* spinner-1 styles */
.spinner.spinner-1 {
  
    @keyframes rotate-animation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes anti-rotate-animation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(-360deg);
    }
  }
  
  &:before {
    width: $main-spinner-dimensions;
    height: $main-spinner-dimensions;
    border-bottom-color: $basic-dark-color;
    border-right-color: $basic-dark-color;
    border-top-color: rgba($basic-dark-color, 0);
    border-left-color: rgba($basic-dark-color, 0);
    top: 0px;
    left: 0px;
    animation: rotate-animation 1s linear 0s infinite;
  }
  
  &:after {
    width: $small-spinner-dimensions;
    height: $small-spinner-dimensions;
    border-bottom-color: $basic-dark-color;
    border-right-color: $basic-dark-color;
    border-top-color: rgba($basic-dark-color, 0);
    border-left-color: rgba($basic-dark-color, 0);
    top: ($main-spinner-dimensions - $small-spinner-dimensions) / 2;
    left: ($main-spinner-dimensions - $small-spinner-dimensions) / 2;
    animation: anti-rotate-animation 0.85s linear 0s infinite;
  }
}

/* spinner-2 styles */

.spinner.spinner-2 {
  
  @keyframes scale {
    0% {
      transform: scale(1);
      border-style: solid;
    }
    
    100% {
      transform: scale(0);
      border-style: dashed;
    }
  }
  
  &:before {
    width: $main-spinner-dimensions;
    height: $main-spinner-dimensions;
    border-color: $basic-dark-color;
    top: 0px;
    left: 0px;
    animation: scale 1s linear 0s infinite alternate;
  }
  
  &:after {
    width: $main-spinner-dimensions;
    height: $main-spinner-dimensions;
    border-color: $basic-dark-color;
    top: 0;
    left: 0;
    animation: scale 1s linear 0s infinite alternate-reverse;
  }
}

/* spinner-3 styles */

.spinner.spinner-3 {
  
  @keyframes scale-2 {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    
    50% {
      transform: scale(0.7);
      opacity: 1;
    }
    
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
  
  &:before {
    width: $main-spinner-dimensions;
    height: $main-spinner-dimensions;
    border-color: $basic-dark-color;
    top: 0px;
    left: 0px;
    animation: scale-2 1s linear 0s infinite;
  }
  
  &:after {
    width: $main-spinner-dimensions;
    height: $main-spinner-dimensions;
    border-color: $basic-dark-color;
    top: 0;
    left: 0;
    opacity: 0;
    animation: scale-2 1s linear 0.5s infinite;
  }
}

/* spinner-4 styles */

.spinner.spinner-4 {
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
  &:before {
    width: $main-spinner-dimensions;
    height: $main-spinner-dimensions;
    border-color: $basic-dark-color;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  
  &:after {
    width: $small-spinner-dimensions  * 0.2;
    height: $small-spinner-dimensions * 0.2;
    border-width: $border-width - 1;
    border-color: $basic-dark-color;
    top: $main-spinner-dimensions / 2 - $border-width * 2;
    left: 0;
    overflow: hidden;
    transform-origin: $main-spinner-dimensions / 2 + $border-width;
    animation: rotate 1.2s linear 0s infinite;
  }
}

/* spinner-5 styles */

.spinner.spinner-5 {
  
  @keyframes border-animate {
    0% {
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
    
    25% {
      border-top-color: $basic-dark-color;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
    
    50% {
      border-top-color: $basic-dark-color;
      border-right-color: $basic-dark-color;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
    
    75% {
      border-top-color: $basic-dark-color;
      border-right-color: $basic-dark-color;
      border-bottom-color: $basic-dark-color;
      border-left-color: transparent;
    }
    
    100% {
      border-top-color: $basic-dark-color;
      border-right-color: $basic-dark-color;
      border-bottom-color: $basic-dark-color;
      border-left-color: $basic-dark-color;
    }
  }
  
  &:before {
    width: 0;
    height: 0;
    border-color: $basic-dark-color;
    top: 0px;
    left: 0px;
    border-width: $basic-spinner-dimensions / 2;
    border-style:  solid;
    animation: border-animate 1.6s linear 0s infinite alternate;
  }
  
  &:after {
    width: $small-spinner-dimensions;
    height: $small-spinner-dimensions;
    border-color: $basic-dark-color;
    top: ($main-spinner-dimensions - $small-spinner-dimensions) / 2;
    left: ($main-spinner-dimensions - $small-spinner-dimensions) / 2;
    background-color: $bg-color;
  }
}

.loader {
  position: relative;
  display: inline-block;
  margin: 0 12.5% 100px;
  width: 25px;
  height: 25px;
  border: 2px solid #0cf;
  border-radius: 50% !important;
  
  animation: spin 0.75s infinite linear;
}
.loader::before,
.loader::after {
  left: -2px;
  top: -2px;
  display: none;
  position: absolute;
  content: '';
  width: inherit;
  height: inherit;
  border: inherit;
  border-radius: inherit;
}


/*
 * LOADER 1
 */
.loader-1 {
  border-top-width: 0;
}


/*
 * LOADER 2
 */
.loader-2 {
  border-top-color: transparent;
}
.loader-2::after {
  display: block;
  left: -2px;
  top: -2px;
  border: inherit;
  transform: rotate(65deg);
}


/*
 * LOADER 3
 */
.loader-3,
.loader-3::before,
.loader-3::after {
  display: inline-block;
  border-color: transparent;
  border-top-color: #0cf;
  animation-duration: 1.2s;
}
.loader-3::before {
  transform: rotate(120deg);
}
.loader-3::after {
  transform: rotate(240deg);
}


/*
 * LOADER 4
 */
.loader-4 {
  border-top-color: transparent;
}
.loader-4::after {
  display: block;
  border-color: transparent;
  border-top-color: #0cf;
  animation: spin 1.25s infinite linear reverse;
}


/*
 * LOADER 5
 */
.loader-5,
.loader-5::before {
  display: inline-block;
  border-color: transparent;
  border-top-color: #0cf;
}
.loader-5::before {
  animation: spin 1.5s infinite ease;
}


/*
 * LOADER 6
 */
.loader-6 {
  border-color: transparent;
  border-top-color: #0cf;
  animation-duration: 3s;
}
.loader-6::after {
  display: block;
  border-color: transparent;
  border-top-color: #0cf;
  animation: spin 0.75s infinite ease-in-out alternate;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
}
}

.loaders{
  text-align: center;
  /*margin-top: 50px;*/
}
.loading {
  position: relative;
  display: inline-block;
}
.loading .dot {
  position: absolute;
  opacity: 0;
  width: 64px;
  height: 64px;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  -webkit-animation-name: loading;
  -moz-animation-name: loading;
  -ms-animation-name: loading;
  -o-animation-name: loading;
  animation-name: loading;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -o-animation-duration: 5.28s;
  -moz-animation-duration: 5.28s;
  -webkit-animation-duration: 5.28s;
  animation-duration: 5.28s;
}
.loading .dot:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50% !important;
  background: #FFF;
}
.loading .dot:nth-child(2) {
  -webkit-animation-delay: .23s;
  -moz-animation-delay: .23s;
  -ms-animation-delay: .23s;
  -o-animation-delay: .23s;
  animation-delay: .23s;
}
.loading .dot:nth-child(3) {
  -webkit-animation-delay: .46s;
  -moz-animation-delay: .46s;
  -ms-animation-delay: .46s;
  -o-animation-delay: .46s;
  animation-delay: .46s;
}
.loading .dot:nth-child(4) {
  -webkit-animation-delay: .69s;
  -moz-animation-delay: .69s;
  -ms-animation-delay: .69s;
  -o-animation-delay: .69s;
  animation-delay: .69s;
}
.loading .dot:nth-child(5) {
  -webkit-animation-delay: .92s;
  -moz-animation-delay: .92s;
  -ms-animation-delay: .92s;
  -o-animation-delay: .92s;
  animation-delay: .92s;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(225deg);
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
  }
  8% {
    -webkit-transform: rotate(345deg);
    -webkit-animation-timing-function: linear;
  }
  30% {
    -webkit-transform: rotate(455deg);
    -webkit-animation-timing-function: ease-in-out;
  }
  40% {
    -webkit-transform: rotate(690deg);
    -webkit-animation-timing-function: linear;
  }
  60% {
    -webkit-transform: rotate(815deg);
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
  }
  75% {
    -webkit-transform: rotate(965deg);
    -webkit-animation-timing-function: ease-out;
  }
  76% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes loading {
  0% {
    -moz-transform: rotate(225deg);
    opacity: 1;
    -moz-animation-timing-function: ease-out;
  }
  8% {
    -moz-transform: rotate(345deg);
    -moz-animation-timing-function: linear;
  }
  30% {
    -moz-transform: rotate(455deg);
    -moz-animation-timing-function: ease-in-out;
  }
  40% {
    -moz-transform: rotate(690deg);
    -moz-animation-timing-function: linear;
  }
  60% {
    -moz-transform: rotate(815deg);
    opacity: 1;
    -moz-animation-timing-function: ease-out;
  }
  75% {
    -moz-transform: rotate(965deg);
    -moz-animation-timing-function: ease-out;
  }
  76% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    transform: rotate(225deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }
  8% {
    transform: rotate(345deg);
    animation-timing-function: linear;
  }
  30% {
    transform: rotate(455deg);
    animation-timing-function: ease-in-out;
  }
  40% {
    transform: rotate(690deg);
    animation-timing-function: linear;
  }
  60% {
    transform: rotate(815deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }
  75% {
    transform: rotate(965deg);
    animation-timing-function: ease-out;
  }
  76% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


/*loading css*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);


.loading-bro {
  /*margin: 50px auto;
  width: 150px;*/
}
.loading-bro > h1 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 1em;
  font-weight: 300;
  color: #8E8E8E;
}

#load {
  width: 30px;
  animation: loadings 4s linear infinite;
}
#load #loading-inner {
  stroke-dashoffset: 0;
  stroke-dasharray: 300;
  stroke-width: 10;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  animation: loading-circle 1s linear infinite;
  stroke: #169EF4;
  fill: transparent;
}

@keyframes loadings {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-circle {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -600;
  }
}
