doctype html
div.loaders
  div.loading
    div.dot
    div.dot
    div.dot
    div.dot
    div.dot
//div.loader.loader-5
//div.spinningplates
div.progress.progress-striped.progress-success.active(style="margin-bottom:0px;display:none")
  div.bar(ms-css-width="{{ratio}}%")