doctype html
html
  head    
    title 人证识别系统
    meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
    //old
    link(href="stylesheet/bootstrap.min.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/bootstrap-responsive.min.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/bootstrap-modal.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/font-awesome.min.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/style-metro.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/style.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/style-responsive.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/default.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/uniform.default.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/DT_bootstrap.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/chosen.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/jquery.easy-pie-chart.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/bootstrap-toggle-buttons.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/jquery.fileupload-ui.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/login.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/application.css",rel="stylesheet",type="text/css")    
    link(href="stylesheet/profile.css",rel="stylesheet",type="text/css")    

    //script(src="js/tracking-min.js",type="text/javascript")
    //script(src="js/face-min.js",type="text/javascript")
    //script(src="js/dat.gui.min.js",type="text/javascript")
    //script(src="js/stats.min.js",type="text/javascript")
    script(src="js/spin.js",type="text/javascript")
    script(src="js/crypto-js.js",type="text/javascript")
    script(src="js/cropper.js",type="text/javascript")
    script(src="js/waves.js",type="text/javascript")
    script(src="js/dc.js",type="text/javascript")
    script(src="js/jquery-1.8.3.min.js",type="text/javascript")
    script(src="js/jquery-ui-1.10.1.custom.min.js",type="text/javascript")
    script(src="js/bootstrap.min.js",type="text/javascript")
    script(src="js/bootstrap-modal.js",type="text/javascript")
    script(src="js/bootstrap-modalmanager.js",type="text/javascript")
    script(src="js/bootstrap-typeahead.js",type="text/javascript")
    script(src="js/jquery.dataTables.min.js",type="text/javascript")
    script(src="js/breakpoints.js",type="text/javascript")
    script(src="js/jquery.slimscroll.js",type="text/javascript")
    script(src="js/jquery.blockui.js",type="text/javascript")
    script(src="js/jquery.uniform.min.js",type="text/javascript")
    script(src="js/jquery.flot.js",type="text/javascript")
    //script(src="js/jquery.flot.pie.js",type="text/javascript")
    script(src="js/jquery.flot.resize.js",type="text/javascript")
    script(src="js/jquery.easy-pie-chart.js",type="text/javascript")
    script(src="js/jquery.validate.min.js",type="text/javascript")
    script(src="js/jquery.backstretch.min.js",type="text/javascript")
    script(src="js/DT_bootstrap.js",type="text/javascript")
    script(src="js/chosen.jquery.min.js",type="text/javascript")
    script(src="js/jquery.toggle.buttons.js",type="text/javascript")
    script(src="js/app.js",type="text/javascript")
    script(src="js/moment.min.js",type="text/javascript")
    //script(src="js/jquery-file-upload/vendor/jquery.ui.widget.js",type="text/javascript")
    //script(src="js/jquery-file-upload/vendor/tmpl.min.js",type="text/javascript")
    //script(src="js/jquery-file-upload/vendor/load-image.min.js",type="text/javascript")
    //script(src="js/jquery-file-upload/vendor/canvas-to-blob.min.js",type="text/javascript")
    //script(src="js/jquery-file-upload/jquery.iframe-transport.js",type="text/javascript")
    //script(src="js/jquery-file-upload/jquery.fileupload.js",type="text/javascript")
    //script(src="js/jquery-file-upload/jquery.fileupload-fp.js",type="text/javascript")
    //script(src="js/jquery-file-upload/jquery.fileupload-ui.js",type="text/javascript")
    script(src="js/load-image.js",type="text/javascript")
    script(src="js/load-image-meta.js",type="text/javascript")
    script(src="js/load-image-exif.js",type="text/javascript")
    script(src="js/load-image-exif-map.js",type="text/javascript")
    script(src="js/load-image-orientation.js",type="text/javascript")
    script(src="js/socket.io.js",type="text/javascript")
    script(src="js/ipbase.min.js",type="text/javascript")
    script(src="js/iplib.js",type="text/javascript")
    script(src="js/avalon.js",type="text/javascript")
    script(src="js/application.js",type="text/javascript")

    //new
    link(href="stylesheet/d3_style.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/simple-line-icons.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/jquery.gritter.css",rel="stylesheet",type="text/css")  
    link(href="stylesheet/animate.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/prettify.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/themify-icons.css",rel="stylesheet",type="text/css")  
    link(href="stylesheet/jquery.nestable.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/bootstrap-tree.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/jquery.Jcrop.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/export.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/amchart.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/simple_weather.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/foundation-datepicker.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/weather_animation.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/nivo-slider.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/nivo-default.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/style-loading.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/waves.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/nprogress.css",rel="stylesheet",type="text/css")
    link(href="stylesheet/cropper.css",rel="stylesheet",type="text/css")

    script(src="js/d3.min.js",type="text/javascript")
    script(src="js/liquidFillGauge.js",type="text/javascript")
    script(src="js/say-cheese.js",type="text/javascript")
    script(src="js/jquery.gritter.min.js",type="text/javascript")
    script(src="js/jquery.counterup.js",type="text/javascript")
    script(src="js/jquery.waypoints.min.js",type="text/javascript")
    script(src="js/highcharts.js",type="text/javascript")
    script(src="js/highcharts-3d.js",type="text/javascript")
    script(src="js/highcharts-more.js",type="text/javascript")
    script(src="js/solid-gauge.js",type="text/javascript")
    script(src="js/exporting.js",type="text/javascript")
    script(src="js/jquery.sparkline.min.js",type="text/javascript")
    script(src="js/prettify.js",type="text/javascript")
    script(src="js/gauge.js",type="text/javascript")
    script(src="js/jquery.scrollme.js",type="text/javascript")
    script(src="js/prefixfree.min.js",type="text/javascript")
    script(src="js/bootstrap.wizard.min.js",type="text/javascript")
    //script(type="text/javascript",src="http://api.map.baidu.com/api?v=2.0&ak=SGlfxoEEgdtmV60T195lr7BYx6bFLvkI")
    
    script(src="js/region_select.js",type="text/javascript")
    script(src="js/jquery.stamper.js",type="text/javascript")
    script(src="js/jquery.Jcrop.js",type="text/javascript")
    script(src="js/particles.js",type="text/javascript")
    script(src="js/jquery.simpleWeather.min.js",type="text/javascript")
    script(src="js/jquery.websocket-0.0.1.js",type="text/javascript")
    script(src="https://www.amcharts.com/lib/3/ammap.js")
    script(src="https://www.amcharts.com/lib/3/maps/js/worldLow.js")
    script(src="js/amcharts.js")
    script(src="js/radar.js")
    script(src="js/polarScatter.min.js")
    script(src="js/serial.js")
    script(src="js/export.min.js")
    script(src="js/light.js")
    script(src="js/foundation-datepicker.js",type="text/javascript")
    script(src="js/foundation-datepicker.zh-CN.js",type="text/javascript")
    script(src="js/jquery.poshytip.js",type="text/javascript")
    script(src="js/sha256-1.js",type="text/javascript")
    script(src="js/wow.js",type="text/javascript") //based on animate.css
    script(src="js/jquery.nivo.slider.pack.js",type="text/javascript")
    script(src="js/skycons.js",type="text/javascript")
    script(src="js/nprogress.js",type="text/javascript")
    script(src="js/cropper-main.js",type="text/javascript")
    
  body.page-header-fixed(style="background:#364150 !important")
    div.header.navbar.navbar-inverse.navbar-fixed-top(style="display:none")
      div.navbar-inner(style="")
        div#header.container-fluid.wow.fadeIn
          a.brand(href="javascript:;",style="width: 110px;padding: 15px 0px 0px 0px;margin-left: -35px;")
            img(src="images/logo.png")
          //div.menu-toggler.sidebar-toggler
            //span
            
    div.page-container.row-fluid(ms-controller="sidebar",data-include-rendered="rendered",style="padding-top: 8px;")
      //div.page-sidebar.nav-collapse.collapse(ms-include-src="'html/sidebar.html'")
      div.page-content#page-scroller(style="background:#364150;margin-left: 0;")

    div.page-footer
      div.scroll-to-top.hastip(title="回到顶部",style="display: block;",id="back-to-top")
        i.icon-arrow-up
        //img(src="images/back_to_top.png")