doctype html
div
  div.modal-body
    h5(ms-text="message")
  div.modal-footer
    button.btn.green(type="button",data-dismiss="modal",ms-click="callback")
      i.fa.fa-check
      | {{lang.btn_confirm}}
