doctype html
div(style="margin:0em 0em 1em 0em")
  h5(ms-text="message",style="text-align:left")
div.progress.progress-striped.progress-success.active(style="margin-bottom:0px")
  div.bar(ms-css-width="{{ratio}}%")