doctype html
div.container-fluid
  div(id="slider",class="nivoSlider")     
    img(src="images/login-bg/1-old.jpg",alt="")
    a(href="http://dev7studios.com")
      img(src="images/login-bg/2-old.jpg",alt="",title="#htmlcaption")     
    img(src="images/login-bg/3-old.jpg",alt="",title="This is an example of a caption")
    img(src="images/login-bg/4-old.jpg",alt="") 
