doctype html
div.login
  div.modal-body
    button.btn.green(type="button",data-dismiss="modal",ms-click="central")
      | {{lang.centre}}

  div.modal-body 
    button.btn.green(type="button",data-dismiss="modal",ms-click="store")
      | {{lang.store}}          

